# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
jspm_packages/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs
lerna-debug.log*
.pnpm-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# IDE
.vscode/
.vscode-test/
.idea/

# Build
build/
.next/
out/
.nuxt/
dist/
.cache/
.parcel-cache/

# Testing
coverage/
*.lcov
.nyc_output/

# Misc
.cache/
.temp/
.serverless/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
